@import "tailwindcss";

:root {
  --background: #F6F4EF;
  --foreground: #1A1A1A;
  --primary-color: #1F3D3A;
  --primary-accent: #8C3A2B;
  --primary-accent-hover: #a84331;
  --secondary-accent: #5C6F73;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-handjet: var(--font-handjet);
  --text-on-dark: var(--background);
  --text-on-light: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #141C1B;
    --foreground: #EDEBE6;
    --primary-accent: #c6523d;
    --primary-color: #4a948d;
    --secondary-accent: #91b0b6;
  }
}

:root[data-theme="dark"] {
  --background: #141C1B;
  --foreground: #EDEBE6;
  --primary-accent: #c6523d;
  --primary-color: #4a948d;
  --secondary-accent: #91b0b6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

main {
  a:not(#pledge-button, #button-back-home) {
    color: var(--primary-accent);
    text-decoration: underline;

    &:hover {
      color: var(--primary-accent-hover);
    }

    &.link-news {
      color: var(--foreground);
      text-decoration: none;
    }
  }
}

nav {
  background: #1F3D3A;
  border-color: var(--secondary-accent);

  li a {
    border: 1px black
  }
}

a[target="_blank"][href^="http"]:not([href*="disconnectsociety"]):not([href*="disconnectmadison"]):not(.link-news):not(.link-card)::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.2em;
  vertical-align: -0.05em;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0xOCAxM3Y2YTIgMiAwIDAgMS0yIDJINWEyIDIgMCAwIDEtMi0yVjhhMiAyIDAgMCAxIDItMmg2Ii8+PHBvbHlsaW5lIHBvaW50cz0iMTUgMyAyMSAzIDIxIDkiLz48bGluZSB4MT0iMTAiIHkxPSIxNCIgeDI9IjIxIiB5Mj0iMyIvPjwvc3ZnPg==");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0xOCAxM3Y2YTIgMiAwIDAgMS0yIDJINWEyIDIgMCAwIDEtMi0yVjhhMiAyIDAgMCAxIDItMmg2Ii8+PHBvbHlsaW5lIHBvaW50cz0iMTUgMyAyMSAzIDIxIDkiLz48bGluZSB4MT0iMTAiIHkxPSIxNCIgeDI9IjIxIiB5Mj0iMyIvPjwvc3ZnPg==");
  mask-size: contain;
  mask-repeat: no-repeat;
}